@page "/account/login"
@inherits ExtendedComponentBase<Login>

<PageTitle>Login</PageTitle>

<MudPaper Class="elevation-4 anonymous-form">
    <h1>Login</h1>

    <MudForm @ref="FormRef" Class="gap-4" Style="width:100%;">
        <div class="anonymous-form-field">
            <MudIcon Icon="@Icons.Material.Sharp.Email" Color="Color.Primary" />
            <MudTextField @bind-Value="@Email"
                          Label="Email"
                          InputType="InputType.Email"
                          Validation="@(new Func<string, IEnumerable<string>>(EmailValidity))" />
        </div>
        
        <div class="anonymous-form-field">
            <MudIcon Icon="@Icons.Material.Sharp.Password" Color="Color.Primary" />
            <MudTextField @bind-Value="@Password"
                          Label="Password"
                          InputType="@PasswordInputType"
                          Adornment="Adornment.End" AdornmentAriaLabel="Password Visibility" AdornmentIcon="@PasswordIcon" AdornmentColor="Color.Primary" OnAdornmentClick="PasswordVisibilityHandler"
                          Validation="@(new Func<string, IEnumerable<string>>(PasswordStrength))" />
        </div>
        
        <MudButton Variant="Variant.Filled" Color="Color.Primary" DropShadow="false" OnClick="@((e) => LoginClickHandler())">Login</MudButton>
        <MudLink Href="/account/register">Don't have an account? Click here to sign up</MudLink>
    </MudForm>

    @if (!string.IsNullOrWhiteSpace(ErrorMessage))
    {
        <MudAlert Severity="Severity.Error">@ErrorMessage</MudAlert>
    }
</MudPaper>