@page "/account/register"
@inherits ExtendedComponentBase<Register>

<PageTitle>Register</PageTitle>

<MudPaper Class="elevation-4 anonymous-form">
    <div class="anonymous-form-header">
        <img src="images/logo.png" />
        <span>YouGrade</span>
    </div>

    <h1 style="color:var(--mud-palette-primary-darken);">Register</h1>

    @if (!IsRegisterSuccess)
    {
        <MudForm @ref="FormRef" Class="gap-4" Style="width:100%;">
            <div class="anonymous-form-field">
                <MudIcon Icon="@Icons.Material.Sharp.Person" Color="Color.Primary" />
                <MudTextField @bind-Value="@FullName"
                              Label="Full Name"
                              Validation="@(new Func<string, IEnumerable<string>>(FullNameValidity))" />
            </div>

            <div class="anonymous-form-field">
                <MudIcon Icon="@Icons.Material.Sharp.CalendarMonth" Color="Color.Primary" />
                <MudDatePicker @bind-Date="DateOfBirth"
                               Label="Date of Birth"
                               DateFormat="dd/MM/yyyy"
                               PickerVariant="PickerVariant.Dialog"
                               AutoClose="true"
                               AdornmentColor="Color.Primary"
                               Validation="@(new Func<DateTime?, string>(DateTimeValidity))" />
            </div>

            <div class="anonymous-form-field">
                <MudIcon Icon="@Icons.Material.Sharp.Email" Color="Color.Primary" />
                <MudTextField @bind-Value="@Email"
                              Label="Email"
                              InputType="InputType.Email"
                              Validation="@(new Func<string, IEnumerable<string>>(EmailValidity))" />
            </div>

            <div class="anonymous-form-field">
                <MudIcon Icon="@Icons.Material.Sharp.Password" Color="Color.Primary" />
                <MudTextField @bind-Value="@Password"
                              Label="Password"
                              InputType="PasswordInputType"
                              Adornment="Adornment.End" AdornmentAriaLabel="Password Visibility" AdornmentIcon="@PasswordIcon" AdornmentColor="Color.Primary" OnAdornmentClick="PasswordVisibilityHandler"
                              Validation="@(new Func<string, IEnumerable<string>>(PasswordStrength))" />
            </div>

            <div class="anonymous-form-field">
                <MudIcon Icon="@Icons.Material.Sharp.Password" Color="Color.Primary" />
                <MudTextField T="string"
                              Label="Repeat Password"
                              InputType="PasswordInputType"
                              Adornment="Adornment.End" AdornmentAriaLabel="Password Visibility" AdornmentIcon="@PasswordIcon" AdornmentColor="Color.Primary" OnAdornmentClick="PasswordVisibilityHandler"
                              Validation="@(new Func<string, string>(PasswordMatch))" />
            </div>

            <div class="anonymous-form-field">
                <MudIcon Icon="@Icons.Material.Sharp.Badge" Color="Color.Primary" />
                <MudSelect @bind-Value="Role"
                           Label="Register as"
                           AdornmentColor="Color.Primary">
                    @{
                        var roles = EnumToDict<Roles>();

                        foreach (var role in roles)
                        {
                            <MudSelectItem Value="@role.Key">@role.Value</MudSelectItem>
                        }
                    }
                </MudSelect>
            </div>

            <MudButton Variant="Variant.Filled" Color="Color.Primary" DropShadow="false" OnClick="@((e) => RegisterClickHandler())">Register</MudButton>
            <MudLink Href="/account/login">Already have an account? Click here to log in</MudLink>
        </MudForm>

        <MudAlert Severity="Severity.Info">
            Once you fill out the registration form, your request will be reviewed by an administrator.
            You will receive an email when the review is complete.
        </MudAlert>
    }
    else
    {
        <MudAlert Severity="Severity.Success">
            You have registered successfully.
            You will be able to log into the system when an administrator has reviewed your request.
        </MudAlert>
        <MudLink Href="/acount/login">Click here to go back to login page</MudLink>
    }


    @if (!string.IsNullOrWhiteSpace(ErrorMessage))
    {
        <MudAlert Severity="Severity.Error">@ErrorMessage</MudAlert>
    }
</MudPaper>